In [1]:
import Cython
print(Cython.__version__)

3.0.11

In [2]:
import test
test.say_hello()

Hello, Cython!

In [1]:
import pandas as pd
import numpy as np
from parallel_imputation import generate_large_dataset, determine_target_dtypes, RandomForestImputation

In [2]:
df_large = generate_large_dataset(num_rows = 10000, num_features= 20)
df_large.head()

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_11,Feature_12,Feature_13,Feature_14,Feature_15,Feature_16,Feature_17,Feature_18,Feature_19,Target
0,13.775070,NaN,68.601260,NaN,NaN,NaN,51.721562,NaN,NaN,5.0,...,7.0,80.727274,6.0,61.083526,2.0,48.658860,4.0,NaN,1.0,31.444158
1,74.857721,3.0,56.407416,2.0,0.814950,3.0,59.402664,9.0,79.263963,NaN,...,4.0,87.928880,0.0,50.251230,NaN,64.798904,NaN,NaN,1.0,12.822415
2,2.979823,NaN,NaN,9.0,NaN,9.0,73.470632,3.0,NaN,8.0,...,4.0,32.061432,3.0,91.189311,5.0,96.020092,6.0,NaN,NaN,23.680263
3,54.413631,7.0,29.257670,6.0,16.896536,0.0,74.915334,7.0,45.413054,NaN,...,8.0,23.725235,NaN,85.399465,4.0,81.442744,NaN,1.760897,9.0,33.905231
4,82.171256,9.0,32.318357,7.0,79.153708,6.0,59.340750,9.0,55.256989,7.0,...,NaN,NaN,5.0,73.310242,2.0,35.859196,8.0,79.333821,0.0,9.476997

In [3]:
target_features = df_large.columns
target_dtypes = determine_target_dtypes(df_large)
target_dtypes

['float64',
 'int32',
 'float64',
 'int32',
 'float64',
 'int32',
 'float64',
 'int32',
 'float64',
 'int32',
 'float64',
 'int32',
 'float64',
 'int32',
 'float64',
 'int32',
 'float64',
 'int32',
 'float64',
 'int32',
 'float64']

In [4]:
RandomForestImputation(df_large, target_features, target_dtypes, 4)

float64
True
int32
False
float64
True
int32
False
float64
True
int32
False
float64
True
int32
False
float64
True
int32
False
float64
True
int32
False
float64
True
int32
False
float64
True
int32
False
float64
True
int32
False
float64
True
int32
False
float64
True

In [5]:
df_large

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_11,Feature_12,Feature_13,Feature_14,Feature_15,Feature_16,Feature_17,Feature_18,Feature_19,Target
0,13.775070,1.0,68.601260,4.0,73.359771,7.0,51.721562,3.0,83.286034,5.0,...,7.0,80.727274,6.0,61.083526,2.0,48.658860,4.0,49.194546,1.0,31.444158
1,74.857721,3.0,56.407416,2.0,0.814950,3.0,59.402664,9.0,79.263963,0.0,...,4.0,87.928880,0.0,50.251230,1.0,64.798904,6.0,70.710103,1.0,12.822415
2,2.979823,0.0,49.204316,9.0,63.155909,9.0,73.470632,3.0,41.382830,8.0,...,4.0,32.061432,3.0,91.189311,5.0,96.020092,6.0,49.655852,1.0,23.680263
3,54.413631,7.0,29.257670,6.0,16.896536,0.0,74.915334,7.0,45.413054,0.0,...,8.0,23.725235,5.0,85.399465,4.0,81.442744,3.0,1.760897,9.0,33.905231
4,82.171256,9.0,32.318357,7.0,79.153708,6.0,59.340750,9.0,55.256989,7.0,...,9.0,83.652702,5.0,73.310242,2.0,35.859196,8.0,79.333821,0.0,9.476997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,73.113563,3.0,41.615703,6.0,50.887541,5.0,39.499794,0.0,93.743944,0.0,...,8.0,63.092389,3.0,23.197690,5.0,59.070572,6.0,93.245335,0.0,2.626835
996,20.820855,9.0,41.833754,4.0,49.816633,2.0,29.030134,2.0,57.582937,0.0,...,6.0,48.720949,3.0,82.096808,2.0,97.419337,0.0,46.805378,6.0,41.459524
997,86.783028,3.0,77.711290,4.0,36.286182,9.0,58.985245,1.0,85.758635,1.0,...,1.0,53.837238,8.0,60.431197,9.0,47.888089,4.0,35.888915,1.0,4.859134
998,61.770205,0.0,2.813242,6.0,19.428953,7.0,69.657949,8.0,86.724343,9.0,...,2.0,73.613756,7.0,64.976439,1.0,51.369698,3.0,79.136637,0.0,47.082533
999,28.444174,4.0,97.120449,0.0,85.687435,0.0,56.859018,4.0,42.531079,1.0,...,4.0,45.304256,0.0,95.597103,4.0,53.592307,1.0,33.157421,3.0,9.236669